<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>:: D-HRMS ::</title>

    <link rel="stylesheet" href="~/Assets/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Assets/plugins/perfect-scrollbar/css/perfect-scrollbar.min.css">
    <link href="~/Assets/plugins/smart-alerts/jquery.smartAlerts.css" rel="stylesheet" />
    @*<link href="~/Assets/bootstrap/css/bootstrap.css" rel="stylesheet" />*@
    @*<link href="~/Assets/css/theme.css" rel="stylesheet" />*@
    <link href="~/Assets/css/theme_blue.css" rel="stylesheet" />
    <link href="~/Content/Css/app.css" rel="stylesheet" />

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="~/assets/plugins/parsley/parsley.min.js"></script>
    <script src="~/Assets/plugins/smart-alerts/jquery.smartAlerts.js"></script>

    <style>
        body {
            background-color: #f0f0f0;
        }

        .pagecontent {
            border: 1px solid #aed1ec;
            background: #fff;
            padding: 5px 0px;
            width: 1000px;
            margin: 15px auto;
            border-radius: 8px;
        }

        .navbar-brand {
            border-right: 0;
        }

        form .checkbox.has-error .help-block, form .checkbox.has-error .input-addon, form .checkbox.has-error label, form .form-group.has-error .help-block, form .form-group.has-error .input-addon, form .form-group.has-error label, form .input-group.has-error .help-block, form .input-group.has-error .input-addon, form .input-group.has-error label, form .radio.has-error .help-block, form .radio.has-error .input-addon, form .radio.has-error label {
            color: #b71c1c;
        }

        .has-error .checkbox, .has-error .checkbox-inline, .has-error.checkbox-inline label, .has-error.checkbox label, .has-error .control-label, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.radio-inline label, .has-error.radio label {
            color: #a94442;
        }

        .help-block {
            display: block;
            margin-top: 5px;
            margin-bottom: 10px;
            color: #616161;
        }

        .parsley-errors-list {
        }
    </style>
</head>
<body>
    <!-- Top Menu  Begin -->
    <nav class="navbar navbar-default img-responsive">
        <div class="container-fluid" >
            <div class="collapse navbar-collapse" id="navbar_main">
                <!-- Navbar: Brand -->
                <a class="navbar-brand" href="#">
                    D-HRMS
                </a>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <!-- Top Menu End -->
    <div style="margin:15px">
        @RenderBody()
    </div>
</body>
</html>
<script>
        var ParsleyDefaults = {
            errorClass: "has-error",
            successClass: "has-success",
            classHandler: function (ParsleyField) {

                var $this = ParsleyField.$element;
                if ($this.hasClass('undefined'))
                    return undefined;
                else
                    return $this.closest('.form-group, .input-form, .checkbox, .radio');
            },
            errorsContainer: function (ParsleyField) {
                var $this = ParsleyField.$element;
                return $this.parent();
            },
            errorsWrapper: '<div class="help-block"></div>',
            errorTemplate: '<span></span>'
        };



    $(document).ready(function() {

        // Init form validation

        var parsleyForms = $('[data-parsley-validate]');

        if (parsleyForms.length) {
            parsleyForms.parsley(ParsleyDefaults);
            window.Parsley.on('form:error', function () {
                $alert.error("Please entered and complete the highlighted required fields to proceed.");
            });

        }


        // button process icon
        $('form').submit(function (e) {
            //e.preventDefault();
            var but = $(this).toggleClass('sending').blur();

            //setTimeout(function () {
            //    but.removeClass('sending').blur();
            //}, 2500);

        })
    });

    var smartAlerts = new SmartAlerts();

    window.$alert = {
        success: function (message) {
            smartAlerts.generate("success", message);
        },
        info: function (message) {
            smartAlerts.generate("info", message);
        },
        warning: function (message) {
            smartAlerts.generate("warning", message);
        },
        error: function (message) {
            smartAlerts.generate("danger", message);
        }
    };
</script>
