<!DOCTYPE html>
<html>
<body>
<p>
    Dear Customer,
    <br /><br />
    The Dynamic Access Code for user <b>{0}</b> is : <b>{1}</b>
    <br /><br />
    Please Note:
    <br /><br />
    Dynamic Access Code has also been sent to your preferred mobile number registered with us (if enable SMS notifications).
    <br /><br />
    We never send you an email asking for your Login Credentials. Please do not respond to any email requesting such information.
    <br />
    <br />
    Thanks,<br />
    Company Name.
</p>
</body>
</html>
