@{
    Layout = "~/Views/Shared/_CommonLayout.cshtml";
}

<br />
<br />
<br />

<div class="pagecontent">
    <table align="center" cellpadding="0" cellspacing="0" class="data_pannel" width="800">
        <tr>
            <td align="center">

                <br />
                <br />
            </td>
        </tr>
        <tr>
            <td align="center" class="errorfont">
                <strong>
                    <p>You Session has been expired, Please <a href="@Url.Action("Index","Home")">Click Here</a> to Login.</p>
                </strong>
            </td>
        </tr>
        <tr>
            <td align="center" valign="top" class=" ">
                <br />
                <br />
            </td>
        </tr>
    </table>
</div>


